h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Slab";
}
.header {
  margin-bottom: 100px;
}
.header .navbar {
  background: #18aab1;
}
.header .navbar h1 {
  color: white;
}
.header .navbar h1 small {
  display: block;
  opacity: 0.7;
  font-size: 14px;
  color: white;
}
.header .navbar h1 small a {
  color: white;
  font-style: italic;
}
.header .nav a {
  color: white;
  background: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.header .nav a:hover,
.header .nav a:focus,
.header .nav a.active {
  background: rgba(255, 255, 255, 0.3);
}
body {
  font-family: "Source Sans Pro";
}
.react-mentions .control.textarea {
  background: #fff;
  font-family: monospace;
  font-size: 12px;
  border: 1px solid silver;
  font-weight: normal;
}
.react-mentions .control.textarea .highlighter {
  padding: 9px;
}
.react-mentions .control.input {
  display: inline-block;
  width: 130px;
  background: #fff;
  font-size: 12px;
  font-weight: normal;
}
.react-mentions .control.input .highlighter {
  padding: 1px;
  border: 2px inset transparent;
}
.react-mentions .control .highlighter strong {
  font-weight: normal;
  background: #cee4e5;
}
.react-mentions textarea {
  padding: 9px;
  min-height: 63px;
  outline: 0;
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.react-mentions input {
  padding: 1px;
  margin: 0;
  border: 2px inset;
}
.react-mentions .suggestions {
  position: absolute;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: white;
  margin-top: 14px;
  font-size: 10pt;
  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
  -khtml-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
  -ms-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
  -o-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
}
.react-mentions .suggestions ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.react-mentions .suggestions ul li {
  padding: 5px 15px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.react-mentions .suggestions ul li:last-child {
  border-bottom: none;
}
.react-mentions .suggestions ul li.focus {
  background-color: #cee4e5;
}
