.react-mentions {
  position: relative;
  overflow-y: visible;
}
.react-mentions .control.textarea {
  background: #fff;
  font-family: monospace;
  font-size: 12px;
  border: 1px solid silver;
  font-weight: normal;
}
.react-mentions .control.textarea .highlighter {
  padding: 9px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.react-mentions .control.input {
  display: inline-block;
  width: 130px;
  background: #fff;
  font-size: 12px;
  font-weight: normal;
}
.react-mentions .control.input .highlighter {
  padding: 1px;
  border: 2px inset transparent;
  white-space: pre;
  overflow: hidden;
}
.react-mentions .control .highlighter {
  width: inherit;
  position: absolute;
  color: transparent;
  font: inherit;
  overflow: hidden;
}
.react-mentions .control .highlighter strong {
  font-weight: normal;
  background: #cee4e5;
}
.react-mentions textarea {
  padding: 9px;
  min-height: 63px;
  width: 100%;
  display: block;
  margin: 0;
  border: none;
  background: transparent;
  position: relative;
  outline: 0;
  font: inherit;
  overflow: hidden;
  resize: none;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.react-mentions input {
  padding: 1px;
  margin: 0;
  border: 2px inset;
  width: inherit;
  background: transparent;
  position: relative;
  font: inherit;
}
.react-mentions .suggestions {
  position: absolute;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: white;
  margin-top: 14px;
  font-size: 10pt;
  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
  -khtml-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
  -ms-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
  -o-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
}
.react-mentions .suggestions ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.react-mentions .suggestions ul li {
  padding: 5px 15px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.react-mentions .suggestions ul li:last-child {
  border-bottom: none;
}
.react-mentions .suggestions ul li.focus {
  background-color: #cee4e5;
}
